@media screen and (max-width:950px) {
    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #details{
        width: 100%;
    }
    #social-icons{
        position: relative;
    }
    .navbar{
        height: 100vh;
        flex-direction: column;
        transition: all 0.5s ease-out;
        opacity: 0.9;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        position: static;
        text-align: center;
        margin: 10px 0px;
    }
    .navbar ul li{
        margin: 6px 0px;
    }
    .navbar div h2{
        position: static;
        font-size: 30px;
    }
    .burger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 12px;
    }
    .line{
        width: 40px;
        background-color: black;
        height: 7px;
        margin: 4px 0px;
        border-radius: 10px;
    }
    .h-nav{
        /* transition: all 0.5s ease-out; */
        height: 70px;
        /* opacity: 0.9; */
    }
    .title{
        margin-top: 5%;
    }
    .v-class{
        display: none !important;
    }
    #about-text{
        text-align: center;
    }
    .exp-container{
        display: block; 
    }
    .exp-items{
        margin-bottom: 10px;
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .navbar ul{
        position: absolute;
        top: 25vh;
    }
    .navbar ul li {
        margin: 20px 0px;
    }
    .navbar ul a {
        font-size: 1.8rem;
    }
    button{
        margin-inline: 0px;
        border-radius: 30px;
        margin-top: 20px;
        font-size: 1.5rem;
    }
    .navbar a img{
        position: absolute;
        left: 4%;
        top: 0%;
        width: 70px;
        height: 70px;
        margin-left: 0;
    }
    .hi p{
        font-size: 2rem;
    }
    .name p{
        font-size: 4rem;
    }
    .static{
        font-size: 2rem;
    }
    .dynamic li{
        font-size: 2.5rem;
        font-family: 'Source Code Pro', monospace;
        color: rgb(245, 152, 30);
    }
    #logo{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    #logo img{
        margin-left: 0;
    }
    #container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    #social-icons{
        width: 100%;
        position: relative;
        right: 0;
        background-color: black;
        margin: auto;
    }
    #social-icons ul{
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    #social-icons ul li{
        margin: 10px 0px;
    }
    #social-icons ul li a{
        display: flex;
        justify-content: center;
    }
    #social-icons ul li a img{
        margin-left: 0;
    }
    #about-img{
        display: none;
    }
    #about-text{
        text-align: center;
    }
    #skills {
        width: 80%;
        margin: auto;
        /* margin-left: 10%; */
    }    
    #project-img img {
        width: 75vmin;
        border: 20px solid rgb(70, 70, 70);
        border-radius: 20px;
        margin-left: 0px;
    }
    #project-text h1{
        margin-left: 0px;
        font-size: 1.8rem;
    }
    #project-text p{
        margin-left: 0px;
        margin-right: 0px;
    }
    #prohr, #exphr,#text-hr,#exp,#pro{
        margin:auto;
    }
    .p-item{
        color: white;
        font-size: 1.3rem;
        margin-left: 12%;
    }
    #details{
        margin: auto;
        text-align: center;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .exp1, .exp1-1, .p-item{
        margin-left: 0px;
    }
    .s-item{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 375px){
#logo img {
    width: 300px;
    height: 290px;
    margin-top: 39px;
}
}
@media screen and (max-width: 360px){
#logo img {
    width: 290px;
    height: 280px;
    margin-top: 39px;
}
}