<html>
    <body>
        <form action="/submit" method="post">
            <input type="text" name="name" placeholder="Enter Your Name">
            <input type="email" name="email" placeholder="Enter Your Email">
            <input type="number" name="mark" placeholder="Enter Your Mark">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>