<html>
    <body>
        <form action="/submit" method="post">
            <input type="number" name="marks1" placeholder="Enter Your Mark">
            <input type="number" name="mark2" placeholder="Enter Your Mark">
            <input type="number" name="mark3" placeholder="Enter Your Mark">
            <input type="number" name="mark4" placeholder="Enter Your Mark">

            <input type="submit" value="Submit">
        </form>
    </body>
</html>